.join_room_page_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #cfff80;
}

.join_room_title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.join_room_page_panel {
  display: flex;
  flex-direction: column;

}

.join_room_inputs_container {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}

.join_room_buttons_container {
  display: flex;
  justify-content: space-between;
}

.join_room_cancel_button {
  border: 1px solid #000;
  background-color: #cfff80;
  color: #000;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  box-shadow: 10px 11px 49px -24px rgba(0, 0, 0, 0.75);
}

.join_room_cancel_button:hover {
  background-color: #000;
  color: #cfff80;
  border: 1px solid #000;
  box-shadow: none;
}

.join_room_success_button {
  border: 1px solid #000;
  background-color: #000;
  color: #cfff80;
  border-radius: 4px;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  box-shadow: 10px 11px 49px -24px rgba(0, 0, 0, 0.75);
}

.join_room_success_button:hover {
  background-color: #cfff80;
  border: 1px solid #000;
  color: #000;
  box-shadow: none;
}

.join_room_inputs_container {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}

.join_room_input::placeholder {
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

.join_room_input {
  border-radius: 12px;
  border: 1px solid #000;
  background-color: #cfff80;
  width: 300px;
  color: #000;
  height: 40px;
  padding: 0px 15px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.join_room_input:focus {
  border: 1px solid blue;
}

.error_message_container {
  display: flex;
  height: 50px;
  margin-left: 35px;
}

.error_message_paragraph {
  color: red;
}

.loading_overlay_container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #cfff80;
}

.loading_overlay_loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #0052c9; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.checkbox_container {
  display: flex;
  /* margin-left: 35px; */
  margin-top: 5px;
  align-items: center;
}

.checkbox_connection {
  width: 25px;
  height: 25px;
  background: #000;
  border: 1px solid #cfff80;
  border-radius: 8px;
  backdrop-filter: blur(80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox_container_paragraph {
  font-weight: 400;
  font-size: 16px;
  margin-left: 15px;
}

.checkbox_image {
  max-width: 100%;
  max-height: 100%;
}
